{% extends 'padre.html'%}

{% load static %}

{% block contenidoQueCambia%}
        <div class="text-center">
            <img height="80px" src="{{url}}">
            <h3>Hola {{user.username}}</h3>
        </div>

    <!--Colocamos lo que va a cambiar -->
    <header class="masthead">
        <div class="container position-relative">
            <div class="row justify-content-center">
                <div class="col-xl-6">
                    <div class="text-center text-white">
                        <!-- Page heading-->
                        <h1 class="mb-5">Entregables</h1>
                        <h2>Django - CoderHouse</h2>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <h1>Agregar Entregable</h1>
    {% if miFormulario.errors %}
    <p style="color:red;">Estan mal los datos, revisar.</p>
    {% endif %}

    <form action="" method="POST">{% csrf_token %}
       
       <table>
            {{miFormulario.as_table}}
       </table>

        <input type="submit" value="Enviar">
    </form>

{% endblock %}